<!--<input value="Export to PDF" type="button" onclick='gantt.exportToPDF()' style='margin:20px;'>-->
<!--<input value="Export to PNG" type="button" onclick='gantt.exportToPNG()' style='margin:20px;'>-->
<div id="gantt_here" style="width: 100%; height: 500px"></div>

<!--<button id="crearimagen" type="button" class="btn btn-default col-md-3">Genera Imagen</button>
<br>
<div id="imagenGenerada"></div>
<br>
<h6>{jsonGantt}</h6>-->

<input id="enlaceServicioGantt" type="hidden" value="{jsonCargaGantt}">
<input id="servicioExportaImagen" type="hidden" value="{enlaceExportaImagen}">
<input id="nombreExportacionImagen" type="hidden" value="{nombreArchivo}">
<input id="rutaUbicacionImagenGantt" type="hidden" value="{rutaGuardado}">

