{namespace export = Ceisufro\ExportGanttCeis\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="example" options="{group: 'CEIS'}" label="Exporta Gráfico Gantt a Imagen">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
			<flux:field.input name="enlaceDatosGantt" label="Servicio Datos Gantt"/>
			<flux:field.input name="enlaceExportaImagen" label="Servicio Exportacion a Imagen"/>
			<flux:field.input name="nombreArchivo" label="Nombre de la Imagen"/>
			<flux:field.input name="rutaGuardado" label="Ruta de ubicacion Imagen"/>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
	</f:section>

	<f:section name="Main">
		<export:ExportGanttCeis enlaceDatosGantt="{enlaceDatosGantt}" enlaceExportaImagen="{enlaceExportaImagen}" nombreArchivo="{nombreArchivo}" rutaGuardado="{rutaGuardado}"/>
	</f:section>
</div>
